body,body > *{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.cena{
    width:1024px;
    height: 512px;
    border: 0px solid #000;
    overflow:hidden;
}

.assets{
    background: url(../img/superGarotaAssets.svg);
}
/*Animação do plano de fundo*/
.bg {
    position: absolute;
    width: 1024px;
    height: 512px;
    overflow: hidden;
    z-index: 0;
}

.bg:before, .bg:after {
    content: "";
    position: absolute;
    width: 1024px;
    height: 512px;
    background-image: url(../img/bg.jpg);
    background-size: 100%;
    animation: moveBg 30ss infinite linear;
}

.bg:before {
    right: 1024px;
}

@keyframes moveBg {
    from {transform: translateX(1024px);}
      to {transform: translateX(0px);}
}

/*Animação do player */
.player{
    position:absolute;
    width: 189px;
    height: 138px;
    overflow: hidden;
    z-index: 1;
    background-image: url(../img/superGarotaAssets.svg);
    background-repeat: no-repeat;
}

.player.voando{
    -webkit-animation: voando 1s steps(6) infinite;
       -moz-animation: voando 1s steps(6) infinite;
        -ms-animation: voando 1s steps(6) infinite;
         -o-animation: voando 1s steps(6) infinite;
            animation: voando 1s steps(6) infinite;
}

@-webkit-keyframes voando {
   from { background-position: 0px; }
     to { background-position: -1134px; }
}

@-moz-keyframes voando {
   from { background-position: 0px; }
     to { background-position: -1134px; }
}

@-ms-keyframes voando {
   from { background-position: 0px; }
     to { background-position: -1134px; }
}

@-o-keyframes voando {
   from { background-position: 0px; }
     to { background-position: -1134px; }
}

@keyframes voando {
   from { background-position: 0px; }
     to { background-position: -1134px; }
}


.player.atingido{
    animation: playerAtingido;
    animation-duration: 1s;
   
}

@-webkit-keyframes playerAtingido {
   0% { opacity:  0.0; }
   20% { opacity: 1.0; }
   40% { opacity: 0.0; }
   60% { opacity: 1.0; }
   80% { opacity: 0.0; }
   100%{ opacity: 1.0; }
}

@-moz-keyframes playerAtingido {
   0% { opacity:  0.0; }
   20% { opacity: 1.0; }
   40% { opacity: 0.0; }
   60% { opacity: 1.0; }
   80% { opacity: 0.0; }
   100%{ opacity: 1.0; }
}

@-ms-keyframes playerAtingido {
   0% { opacity:  0.0; }
   20% { opacity: 1.0; }
   40% { opacity: 0.0; }
   60% { opacity: 1.0; }
   80% { opacity: 0.0; }
   100%{ opacity: 1.0; }
}

@-o-keyframes playerAtingido {
    0% { opacity:  0.0; }
   20% { opacity: 1.0; }
   40% { opacity: 0.0; }
   60% { opacity: 1.0; }
   80% { opacity: 0.0; }
   100%{ opacity: 1.0; }
}

@keyframes playerAtingido {
   0% { opacity:  0.0; }
   20% { opacity: 1.0; }
   40% { opacity: 0.0; }
   60% { opacity: 1.0; }
   80% { opacity: 0.0; }
   100%{ opacity: 1.0; }
}



.obstaculo1{
    width: 42px;
    height: 38px;
    position: absolute;
    background-image: url(../img/obstaculo1.png);
    background-repeat: no-repeat;
}

.obstaculo2{
    width: 104px;
    height: 95px;
    position: absolute;
    background-image: url(../img/obstaculo2.png);
    background-repeat: no-repeat;
}

.player.morto{
    -webkit-animation: morrendo 0.7s steps(7) infinite;
       -moz-animation: morrendo 0.7s steps(7) infinite;
        -ms-animation: morrendo 0.7s steps(7) infinite;
         -o-animation: morrendo 0.7s steps(7) infinite;
            animation: morrendo 0.7s steps(7) infinite;
}

@-webkit-keyframes morrendo {
   from { background-position: -1890px; }
     to { background-position: -3213px; }
}

@-moz-keyframes morrendo {
   from { background-position: -1890px; }
     to { background-position: -3213px; }
}

@-ms-keyframes morrendo {
   from { background-position: -1890px; }
     to { background-position: -3213px; }
}

@-o-keyframes morrendo {
   from { background-position: -1890px; }
     to { background-position: -3213px; }
}

@keyframes morrendo {
   from { background-position: -1890px; }
     to { background-position: -3213px; }
}

/*Tiro*/
.tiro{
    background-image: url(../img/superGarotaAtirando/tiro.png);
    background-position: center;
    width: 50px;
    height: 20px;
    background-size: 50px 20px;
    position:absolute;
    z-index: 2;
}

/* 
Moedas
*/
.grupoMoedas{
    height: 30px;
    width: 400px;    
    position: absolute;
    z-index: 1;
    left: 1300px;
}
.moeda{
    width: 38px;
    height: 30px;
    background-image: url(../img/moeda.png);
    position: absolute;
    z-index: 1;
    left: 1300px;
    -webkit-animation: moeda 0.5s steps(5) infinite;
       -moz-animation: moeda 0.5s steps(5) infinite;
        -ms-animation: moeda 0.5s steps(5) infinite;
         -o-animation: moeda 0.5s steps(5) infinite;
            animation: moeda 0.5s steps(5) infinite;
}

@-webkit-keyframes moeda {
   from { background-position: 0px; }
     to { background-position: -190px; }
}

@-moz-keyframes moeda {
   from { background-position: 0px; }
     to { background-position: -190px; }
}

@-ms-keyframes moeda {
   from { background-position: 0px; }
     to { background-position: -190px; }
}

@-o-keyframes moeda {
   from { background-position: 0px; }
     to { background-position: -190px; }
}

@keyframes moeda {
   from { background-position: 0px; }
     to { background-position: -190px; }
}
.alien1{
    width: 150px;
    height: 110px;
    background-image: url(../img/alien.png);
    background-repeat: no-repeat;
    background-size: 2122px 154px;
    position: absolute;
    z-index: 1;
    -webkit-animation: alien 1s steps(7) infinite;
       -moz-animation: alien 1s steps(7) infinite;
        -ms-animation: alien 1s steps(7) infinite;
         -o-animation: alien 1s steps(7) infinite;
            animation: alien 1s steps(7) infinite;
    
}

@-webkit-keyframes alien {
   from { background-position: 0px; }
     to { background-position: -1150px; }
}

@-moz-keyframes alien {
   from { background-position: 0px; }
     to { background-position: -1150px; }
}

@-ms-keyframes alien {
   from { background-position: 0px; }
     to { background-position: -1150px; }
}

@-o-keyframes alien {
   from { background-position: 0px; }
     to { background-position: -1150px; }
}

@keyframes alien {
   from { background-position: 0px; }
     to { background-position: -1150px; }
}

.alien1Atingido{
    width: 150px;
    height: 110px;
    background-image: url(../img/alien.png);
    background-repeat: no-repeat;
    background-size: 2122px 154px;
    position: absolute;
    z-index: 1;
    top:200px;
    left: 200px;
    -webkit-animation: alien1Atingido 1s steps(6) infinite;
       -moz-animation: alien1Atingido 1s steps(6) infinite;
        -ms-animation: alien1Atingido 1s steps(6) infinite;
         -o-animation: alien1Atingido 1s steps(6) infinite;
            animation: alien1Atingido 1s steps(6) infinite;
    
}

@-webkit-keyframes alien1Atingido {
   from { background-position: -1150px; }
     to { background-position: -2170px; }
}

@-moz-keyframes alien1Atingido {
   from { background-position: -1150px; }
     to { background-position: -2170px; }
}

@-ms-keyframes alien1Atingido {
   from { background-position: -1150px; }
     to { background-position: -2170px; }
}

@-o-keyframes alien1Atingido {
   from { background-position: -1150px; }
     to { background-position: -2170px; }
}

@keyframes alien1Atingido {
   from { background-position: -1150px; }
     to { background-position: -2170px; }
}




.font{
     font-family: AR DESTINE;
    text-transform: bold;
    color: #fff; 
    font-size: 22px;
}
.vidas{
    width: 500px;
    height: 30px;
    position: absolute;
    z-index: 1;
    left: 10px;
    top:10px;
}

.qtdMoedas{
    width: 50px;
    height: 30px;
    position: absolute;
    z-index: 1;
    left: 10px;
    top:25px;
    background-image: url(../img/moeda.png);
    background-position: -105px 3px;
    background-repeat: no-repeat;
    background-size: auto 20px;
    padding-left: 25px;
    margin-top: 10px;
    margin-left: -5px;
}
