body,body > *{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.cena{
    width:1024px;
    height: 512px;
    border: 0px solid #000;
    overflow:hidden;
}

.assets{
    background: url(../img/superGarotaAssets.svg);
}
/*Animação do plano de fundo*/
.bg {
    position: absolute;
    width: 1024px;
    height: 512px;
    overflow: hidden;
    z-index: 0;
}

.bg:before, .bg:after {
    content: "";
    position: absolute;
    width: 1024px;
    height: 512px;
    background-image: url(../img/bg.jpg);
    background-size: 100%;
    animation: moveBg 30ss infinite linear;
}

.bg:before {
    right: 1024px;
}

@keyframes moveBg {
    from {transform: translateX(1024px);}
      to {transform: translateX(0px);}
}

/*Animação do player */
.player{
    position:absolute;
    width: 189px;
    height: 138px;
    overflow: hidden;
    z-index: 1;
    background-image: url(../img/superGarotaAssets.svg);
    background-repeat: no-repeat;
}

.player.voando{
    -webkit-animation: voando 1s steps(6) infinite;
       -moz-animation: voando 1s steps(6) infinite;
        -ms-animation: voando 1s steps(6) infinite;
         -o-animation: voando 1s steps(6) infinite;
            animation: voando 1s steps(6) infinite;
}

@-webkit-keyframes voando {
   from { background-position: 0px; }
     to { background-position: -1134px; }
}

@-moz-keyframes voando {
   from { background-position: 0px; }
     to { background-position: -1134px; }
}

@-ms-keyframes voando {
   from { background-position: 0px; }
     to { background-position: -1134px; }
}

@-o-keyframes voando {
   from { background-position: 0px; }
     to { background-position: -1134px; }
}

@keyframes voando {
   from { background-position: 0px; }
     to { background-position: -1134px; }
}


.player.atirando{
    -webkit-animation: atirando 0.4s steps(4) infinite;
       -moz-animation: atirando 0.4s steps(4) infinite;
        -ms-animation: atirando 0.4s steps(4) infinite;
         -o-animation: atirando 0.4s steps(4) infinite;
            animation: atirando 0.4s steps(4) infinite;
}

@-webkit-keyframes atirando {
   from { background-position: -1134px; }
     to { background-position: -1890px; }
}

@-moz-keyframes atirando {
   from { background-position: -1134px; }
     to { background-position: -1890px; }
}

@-ms-keyframes atirando {
   from { background-position: -1134px; }
     to { background-position: -1890px; }
}

@-o-keyframes atirando {
   from { background-position: -1134px; }
     to { background-position: -1890px; }
}

@keyframes atirando {
   from { background-position: -1134px; }
     to { background-position: -1890px; }
}

.player.morrendo{
    -webkit-animation: morrendo 0.7s steps(7) infinite;
       -moz-animation: morrendo 0.7s steps(7) infinite;
        -ms-animation: morrendo 0.7s steps(7) infinite;
         -o-animation: morrendo 0.7s steps(7) infinite;
            animation: morrendo 0.7s steps(7) infinite;
}

@-webkit-keyframes morrendo {
   from { background-position: -1890px; }
     to { background-position: -3213px; }
}

@-moz-keyframes morrendo {
   from { background-position: -1890px; }
     to { background-position: -3213px; }
}

@-ms-keyframes morrendo {
   from { background-position: -1890px; }
     to { background-position: -3213px; }
}

@-o-keyframes morrendo {
   from { background-position: -1890px; }
     to { background-position: -3213px; }
}

@keyframes morrendo {
   from { background-position: -1890px; }
     to { background-position: -3213px; }
}

/*Tiro*/
.tiro{
    background-image: url(../img/superGarotaAtirando/tiro.png);
    background-position: center;
    width: 50px;
    height: 20px;
    background-size: 50px 20px;
    position:absolute;
    z-index: 1;
}

/* 
Moedas
*/
.grupoMoedas{
    height: 30px;
    width: 400px;    
    position: absolute;
    z-index: 1;
    left: 1300px;
}
.moeda{
    width: 38px;
    height: 30px;
    background-image: url(../img/moeda.png);
    animation: animaMoeda 0.6s infinite ease;
    position: absolute;
    z-index: 1;
    left: 1300px;
    -webkit-animation: moeda 0.5s steps(5) infinite;
       -moz-animation: moeda 0.5s steps(5) infinite;
        -ms-animation: moeda 0.5s steps(5) infinite;
         -o-animation: moeda 0.5s steps(5) infinite;
            animation: moeda 0.5s steps(5) infinite;
}

@-webkit-keyframes moeda {
   from { background-position: 0px; }
     to { background-position: -190px; }
}

@-moz-keyframes moeda {
   from { background-position: 0px; }
     to { background-position: -190px; }
}

@-ms-keyframes moeda {
   from { background-position: 0px; }
     to { background-position: -190px; }
}

@-o-keyframes moeda {
   from { background-position: 0px; }
     to { background-position: -190px; }
}

@keyframes moeda {
   from { background-position: 0px; }
     to { background-position: -190px; }
}

.vidas{
    width: 500px;
    height: 30px;
    position: absolute;
    z-index: 1;
    left: 10px;
    top:10px;
}

.qtdMoedas{
    width: 500px;
    height: 30px;
    position: absolute;
    z-index: 1;
    left: 10px;
    top:25px;
}
